<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>OpenRadioss</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.11.3/font/bootstrap-icons.min.css') }}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='ross.png') }}">
<body>
<h1>OpenRadioss</h1>
<span class="btn btn-outline-secondary">{{ config['CORE_COUNT'] }} cores</span>
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-light" href="{{ url_for('upload_calculix_input') }}">Upload input deck</a>
    <a class="btn btn-light" href="{{ url_for('read_result') }}">Show result</a>
</div>
<br><br>
{{ content }}
</body>
</html>