<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.11.3/font/bootstrap-icons.min.css') }}">
</head>
<body class="viewer-background-gradient-dark" style="margin: 0; padding: 0;">  
    <table id="viewer-legend" style="position: absolute; bottom: 24px; right: 24px; z-index: 20; display: none; border-collapse: collapse"></table>
    <img src="{{ url_for('static', filename='alsado-logo-sw-01.png') }}" alt="ALSADO" style="position: absolute; top: 22px; right: 22px; z-index: 20; width: 140px; opacity: 0.2;">
    <script type="text/javascript">
        //var URL_OF_VTK_FILE = "{{ url_for('data', filename='bulletA093.vtk') }}";
        var URL_OF_VTK_FILE = "http://localhost:5000/data/{{filename}}";
        console.log(URL_OF_VTK_FILE)
    </script>
    <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>